<h3>Reverse Geocoding the coordinates to get name of the city --> to be used to match to local tax rates<h3/>

<h4>Test with one single apartment<h4/>

In [58]:
import requests

def reverse_geocode(lat, lng, api_key):
    base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'

    params = {
        'latlng': f'{lat},{lng}',
        'key': api_key
    }

    response = requests.get(base_url, params=params)
    data = response.json()

    if 'results' in data and len(data['results']) > 0:
        result = data['results'][0]
        address_components = result['address_components']
        zip_code = None
        city_name = None
        
        for component in address_components:
            if 'postal_code' in component['types']:
                zip_code = component['long_name']
            if 'locality' in component['types']:
                city_name = component['long_name']

        return zip_code, city_name
    else:
        return None, None

# Example usage
latitude = 46.493861  # Example latitude
longitude = 8.815309  # Example longitude
api_key = 'AIzaSyD4PlOjcJ3kLxnX7sDWLZ5Rg33Np24ne8o'  # Replace 'YOUR_API_KEY' with your actual API key

zip_code, city_name = reverse_geocode(latitude, longitude, api_key)
print("ZIP Code:", zip_code)
print("City Name:", city_name)

ZIP Code: 6760
City Name: Carì

<h4>Load csv file and perform job on entire dataset<h4/>

In [2]:
import pandas as pd
# Load the DataFrame with latitude and longitude columns
df = pd.read_csv('../TablesDB/Location_v3_enriched.csv')
df.head()

,LocationId,Street,ZIP,longitude,latitude,#supermarkets,#foodandbeverage
0,78753131-6d78-4d1e-a0e5-fc8b5f430570,NaN,6598.0,8.849665,46.175962,2,3
1,f0c2bc0e-55ab-4eb1-98fa-edcb4a0ee01e,via albonago 43,6962.0,8.974113,46.013360,0,3
2,fbdcde66-0fd7-4304-a83e-70ecbb0f6ae7,Via San Gottardo 41,6500.0,9.032918,46.201556,0,1
3,2d7451a3-d7e1-4dc7-babf-ab237f2c02e4,Via F. Zorzi 17,6500.0,9.015443,46.187900,0,6
4,2bde1434-f480-4d46-9b05-99e0c0659671,Via San Gottardo,6900.0,8.941940,46.015976,3,3

In [51]:

import requests

def reverse_geocode(lat, lng, api_key):
    base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'

    params = {
        'latlng': f'{lat},{lng}',
        'key': api_key
    }

    response = requests.get(base_url, params=params)
    data = response.json()

    if 'results' in data and len(data['results']) > 0:
        result = data['results'][0]
        address_components = result['address_components']
        zip_code = None
        city_name = None
        
        for component in address_components:
            if 'postal_code' in component['types']:
                zip_code = component['long_name']
            if 'locality' in component['types']:
                city_name = component['long_name']

        return zip_code, city_name
    else:
        return None, None

#Split df to test on 10 apartments
#df = df[:10]

# Add new columns for ZIP code and city name
df['Reverse_ZIP'] = None
df['Reverse_City'] = None

# Replace 'YOUR_API_KEY' with your actual API key
api_key = 'AIzaSyD4PlOjcJ3kLxnX7sDWLZ5Rg33Np24ne8o'  

# Iterate through each row and reverse geocode
for index, row in df.iterrows():
    lat, lng = row['latitude'], row['longitude']
    zip_code, city_name = reverse_geocode(lat, lng, api_key)
    df.at[index, 'Reverse_ZIP'] = zip_code
    df.at[index, 'Reverse_City'] = city_name

# Show the updated DataFrame
df

KeyboardInterrupt:

<h4>Safe df to csv<h4/>

In [6]:
filepath_csv = '../TablesDB/Location_v3_enriched_v2.csv'
df.to_csv(filepath_csv, index=False)

<h4>Multiple tests on data quality<h4/>

In [5]:
#check for empty rows
columns_to_look_at = ['Reverse_City']  

# Select rows with any empty cells in the specified columns
rows_with_empty_cells = df[df[columns_to_look_at].isna().any(axis=1)]

rows_with_empty_cells

,LocationId,Street,ZIP,longitude,latitude,#supermarkets,#foodandbeverage,Reverse_ZIP,Reverse_City
7137,61330349-b34f-4330-b794-f5a4f9945c17,Untere Grundgasse 10,9500.0,9.056002,47.471655,0,1,None,None
7640,3974edc2-6435-4d7e-b6a8-73e13ced7f9a,Via al Pascolo 3B,6612.0,9.309339,45.799605,0,0,23842,None

In [15]:

# Select a random sample of rows
random_selection = df.sample(n=5)  # Adjust the value of 'n' to select the desired number of rows

# Show the random selection of rows
random_selection

,LocationId,Street,ZIP,longitude,latitude,#supermarkets,#foodandbeverage,Reverse_ZIP,Reverse_City
4440,1f696198-4256-422a-b307-7e1f4dc96d63,Oelegasse 60,3210.0,7.208721,46.972747,0,0,3210,Kerzers
2673,cf4ed8e2-918b-4613-b54d-a909635aa5d3,Mellingerstrasse 130c,5400.0,8.294367,47.468093,1,0,5400,Baden
4366,7908f2a9-45b2-49ff-ba40-c9c475fdcaf6,Rue des Courtils 7,2035.0,6.881465,46.984241,0,1,2035,Neuchâtel
9475,bd2973a7-d145-402c-8ffc-5c298d846d0d,Chemin Falconnier 63,1260.0,6.223438,46.390306,3,4,1260,Nyon
1232,46f9b8ee-d375-4f73-893c-42df15484f07,Wolhuserstrasse 11,6017.0,8.124489,47.083026,1,3,6017,Ruswil

In [30]:
import pandas as pd
import numpy as np

df_test = df

# Assuming df is your DataFrame and col1 and col2 are the columns to compare
col1 = 'ZIP'
col2 = 'Reverse_ZIP'

df_test[col1] = pd.to_numeric(df_test[col1], errors='coerce').fillna(np.nan).astype('Int64')
df_test[col2] = pd.to_numeric(df_test[col2], errors='coerce').fillna(np.nan).astype('Int64')

df_test.head()

,LocationId,Street,ZIP,longitude,latitude,#supermarkets,#foodandbeverage,Reverse_ZIP,Reverse_City
0,78753131-6d78-4d1e-a0e5-fc8b5f430570,NaN,6598,8.849665,46.175962,2,3,6598,Tenero-Contra
1,f0c2bc0e-55ab-4eb1-98fa-edcb4a0ee01e,via albonago 43,6962,8.974113,46.013360,0,3,6962,Viganello
2,fbdcde66-0fd7-4304-a83e-70ecbb0f6ae7,Via San Gottardo 41,6500,9.032918,46.201556,0,1,6500,Bellinzona
3,2d7451a3-d7e1-4dc7-babf-ab237f2c02e4,Via F. Zorzi 17,6500,9.015443,46.187900,0,6,6500,Bellinzona
4,2bde1434-f480-4d46-9b05-99e0c0659671,Via San Gottardo,6900,8.941940,46.015976,3,3,6942,Savosa

In [31]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11352 entries, 0 to 11351
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LocationId        11352 non-null  object
 1   Street            10644 non-null  object
 2   ZIP               11295 non-null  Int64
 3   longitude         11352 non-null  float64
 4   latitude          11352 non-null  float64
 5   #supermarkets     11352 non-null  int64
 6   #foodandbeverage  11352 non-null  int64
 7   Reverse_ZIP       11186 non-null  Int64
 8   Reverse_City      11350 non-null  object
dtypes: Int64(2), float64(2), int64(2), object(3)
memory usage: 820.5+ KB

In [34]:

# Find rows where the values in col1 are not identical to the values in col2
non_identical_rows = df_test[df[col1] != df_test[col2]]

# 1) Print the number of rows where the data is not identical
num_non_identical_rows = len(non_identical_rows)
print("Number of rows where the data is not identical:", num_non_identical_rows)

# 2) Save the non-identical rows in a new DataFrame for inspection
non_identical_df = non_identical_rows.copy()

# Now you can inspect the non-identical rows in the non_identical_df DataFrame
non_identical_df.head()

Number of rows where the data is not identical: 439

,LocationId,Street,ZIP,longitude,latitude,#supermarkets,#foodandbeverage,Reverse_ZIP,Reverse_City
4,2bde1434-f480-4d46-9b05-99e0c0659671,Via San Gottardo,6900,8.941940,46.015976,3,3,6942,Savosa
26,964d4319-cc59-4720-9b1f-31fda66e2223,Via A. Nessi 42,6605,8.791164,46.162326,1,1,6600,Locarno
30,6dd47421-08ba-4dca-be7f-4945c9490350,Via Cantonale 36,6995,8.917515,46.042701,0,1,6929,Gravesano
60,f3bb05b2-6d3b-48b1-a332-98b71eed5045,Via del Municipio 10,6900,8.227512,46.818188,0,0,8248,Uhwiesen
69,d4ebf4bc-067b-4c56-95b5-98289851a16e,Via Cantonale 74,6613,8.923211,46.054704,0,1,6930,Bedano

In [40]:
nan_rows = non_identical_df[non_identical_df['Street'].isna()]
nan_rows.info()
nan_rows.head()

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 415 to 11341
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LocationId        93 non-null     object
 1   Street            0 non-null      object
 2   ZIP               93 non-null     Int64
 3   longitude         93 non-null     float64
 4   latitude          93 non-null     float64
 5   #supermarkets     93 non-null     int64
 6   #foodandbeverage  93 non-null     int64
 7   Reverse_ZIP       93 non-null     Int64
 8   Reverse_City      93 non-null     object
dtypes: Int64(2), float64(2), int64(2), object(3)
memory usage: 7.4+ KB

,LocationId,Street,ZIP,longitude,latitude,#supermarkets,#foodandbeverage,Reverse_ZIP,Reverse_City
415,9cb1687e-4cf1-4616-afb5-1e640d0bb0be,NaN,6390,8.444592,46.805170,0,0,6391,Engelberg
1019,91c25e2d-5bb3-4226-8a45-7b7d0d3e66ee,NaN,8238,8.227512,46.818188,0,0,8248,Uhwiesen
3155,b8fe6d69-a0b0-43b9-8dcb-ecb4e4f20044,NaN,5318,8.185203,47.553170,0,0,5317,Mandach
4110,242a1486-2286-429e-be8c-df1242a6c5e2,NaN,1782,8.227512,46.818188,0,0,8248,Uhwiesen
4344,87ab5000-e983-4135-ae48-089db57f2409,NaN,2012,8.227512,46.818188,0,0,8248,Uhwiesen

In [41]:
# Find rows where the values in col1 are not identical to the values in col2
central_point_ch = df_test[df['Reverse_ZIP'] == 8248]

# Print the number of rows
num_central_point_ch = len(central_point_ch)
print("Number of times the API selected the middle point of Switzerland:", num_central_point_ch)

Number of times the API selected the middle point of Switzerland: 229

In [42]:
central_point_ch.head()

,LocationId,Street,ZIP,longitude,latitude,#supermarkets,#foodandbeverage,Reverse_ZIP,Reverse_City
60,f3bb05b2-6d3b-48b1-a332-98b71eed5045,Via del Municipio 10,6900,8.227512,46.818188,0,0,8248,Uhwiesen
135,1aa64b21-463f-4bfe-852d-4b0f6de83a48,NaN,<NA>,8.227512,46.818188,0,0,8248,Uhwiesen
151,7b799275-1fbd-42ee-8493-6760fe490ec4,NaN,<NA>,8.227512,46.818188,0,0,8248,Uhwiesen
172,9ec8c8c0-c0bc-44f0-816a-1843cd3e27a3,Au 2b,9037,8.227512,46.818188,0,0,8248,Uhwiesen
218,cd3a0605-7b0a-4d10-ba9a-265863a2c6da,NaN,<NA>,8.227512,46.818188,0,0,8248,Uhwiesen